@import './tailwind.css';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
}

main {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 2rem 10vh;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
